@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .sidebar-icon{
    @apply relative flex items-center justify-center h-12 w-12 my-2 mx-auto shadow-lg bg-gray-800 text-green-500 hover:bg-green-600 hover:text-white rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear;
  }

  .sidebar-tooltip{
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;
  }

  .active{
  @apply bg-gray-900 text-white hover:bg-none !important;
  }

  .card{
    @apply relative flex flex-col min-w-0 bg-clip-border border-black/[.175] border rounded-md
  }

  .floating-input{
    @apply block rounded-lg px-3 pb-2.5 pt-7 w-full text-sm text-gray-900 border-0 appearance-none dark:text-white focus:outline focus:outline-4 focus:outline-[#0d6efd]/[.25]
  }

  .floating-label{
    @apply pointer-events-none absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-3 scale-100 top-4 z-10 origin-[0] start-2.5 peer-placeholder-shown:text-base peer-placeholder-shown:text-black peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:text-sm peer-focus:text-gray-500 peer-focus:scale-100 peer-focus:-translate-y-3 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto
  }

}

.autoComplete_wrapper {
  width: 100% !important;
}

.autoComplete_wrapper > input {
  width: 100% !important;
}

#autoComplete_list_1 {
  overflow: hidden !important;
}
#autoComplete_list_2{
  opacity: 0 !important;
}

a.link {
  color: red;
  text-decoration: underline;

}

a.link:hover {

  color: rgb(255, 98, 0);
}

a.link:visited{
  color: rgb(255, 0, 234);
}